body {
    font-family: sans-serif;
    margin: 20px;
}
h2 {
    margin-top: 20px;
}
#dados {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap; /* Para preservar a formatação JSON */
}
.form-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #eee;
    background-color: #f9f9f9;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], textarea, button {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
button {
    background-color: #66b1da;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
button:hover {
    background-color: #66b1da;
}
.error {
    color: red;
    margin-top: 5px;
}
.success {
    color: green;
    margin-top: 5px;
}